html {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: lightgray;
}
body {
    border: solid;
    border-radius: 80px;
    background-color: turquoise;
    padding: 20px;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 20px;
}
