html {
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 38px;
}
h1 {
    font-size: 32px;
}
#ingr {
    border: solid;
    border-radius: 30px;
    padding: 10px;
    background-color: #f5f5f5;
}
.voor {
    font-size: 20px;
    background-color: white;
    border: none;
}
p {
    font-size: 18px;
    background-color: #def6ed;
    border: solid;
    border-radius: 10px;
    padding: 10px;
}
ol {
    font-size: 18px;
    line-height: 25px;
}
a {
    font-size: 20px;
}
